/residenciaPOS/nbproject/private/
/residenciaPOS/build/
/residenciaPOS/dist/
/posPilot/nbproject/private/
/posPilot/build/
/PRUEBAFX/nbproject/private/
/PRUEBAFX/build/
/boutiquePOS/nbproject/private/
/boutiquePOS/dist/
/boutiquePOS/build/
